<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" (click)="deleteStorage()">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="primary" class="ion-text-center">
      Push-App
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getNotificationHistory()" color="primary">
        <ion-icon name="refresh" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>User Id: {{ userId }}</ion-label>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label>Pushes</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let noti of historialNotificaciones">
      <ion-label>
        <h3>{{ noti.payload.title }}</h3>
        <p>{{ noti.payload.body }}</p>
        <p>{{ noti.payload.additionalData | json }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
